
.chart_content .title h3,
.about .right_sec p, .area-services-modal .int-content p, .testimonial .item .op, .steps li .sub p, ul.features li, .explained, .project_icons li{
    font-family: 'Montserrat', sans-serif;
}

.left_sec {
    float: right;
    padding-right: 0px;
    padding-left: 15px;
}
.right_sec {
    float: left;
}
.full_sections {
    direction: ltr;
}
.project_name {
    float: left;
    position: relative;
    top: 5px;
}
.payment_method_types {
    float: left;
}
.btn_group {
    float: right;
}
.project_name strong {
    font-size: 25px;
    line-height: 25px;
    top: 0px;
}
.green_btn {
    padding: 6px 20px 4px 20px;
}
.about .left_sec {
    float: right;
}
.about .right_sec {
    float: left;
}
.about .right_sec .damas {
    float: left;
    margin-left: 0px;
    margin-right: 5px;
}
.about .right_sec p {
    direction: ltr;
    font-size: 13px;
}
.about .left_sec .brands li.title {
    width: 200px;
    margin-left: -100px;
}
.statistics-section .content-new .section p, .statistics-section .content-new .section span {
    font-size: 11px;
}
.statistics-section .content-new .section span strong {
    font-size: 18px;
}
.area-services-modal .int-content h2 {
    text-align: left !important;
    float: left;
    width: 100%;
}
.area-services-modal i.fa-close {
    top: 23px;
    right: 110px;
    left: auto;
}
.area-services-modal .int-content p {
    direction: ltr;
}
.section_payment .pay .progres {
    width: auto;
}
.section_payment {
    direction: ltr;
}
.section_payment .pay .progres .txt {
    float: right;
    width: 85px;
    text-align: left;
}
.section_payment .pay .progres .pro {
    float: left;
    margin-left: 0px;
    margin-right: 10px;
}
.section_payment .pay .progres .txt b {
    font-size: 20px;
    text-align: left;
    margin-top: 22px;
}
.section_payment .money .month-number{
    float: left;
}
.section_payment .money strong{
    float: left;
}
.section_payment .money strong p{
    margin: 0px;
}
.section_payment .money .month-number {
    float: left;
    background-color: #235b73;
    color: #ffffff;
    padding: 4px 15px;
    border-radius: 5px;
    font-size: 22px;
    margin-right: 10px;
    position: relative;
    top: 0px;
}
.section_payment .money strong p {
    margin: 0px;
    line-height: 21px;
    color: #235b73;
}
.date-title {
    text-align: left;
    direction: ltr;
}
section.form form .form-control {
    text-align: left;
    direction: ltr;
}
section.form .title p {
    float: left;
}
section.form .title .num {
    float: right;
}
.project_icons li p {
    font-size: 13px;
}
section.form form .send {
    direction: rtl;
}
section.form form .send img.icon {
    transform: rotate(180deg);
}
section.form form .send p {
    font-size: 14px;
}
.project_icons {
    direction: ltr;
}
section.form form .send {
    direction: rtl;
    float: right;
    padding: 0px 0px 2px 5px;
}
section.form form .time {
    float: left;
}
section.form .info .tel .icon {
    right: auto;
    left: 0px;
}
.sub_title {
    text-align: left;
}
ul.explained {
    direction: ltr;
    padding: 0px 0px 0px 20px;
}
.section-radar img,
.section-radar .icon-four img {
    width: 64px;
}
.steps li {
    width: 266px;
    height: 287px;
}

ul.features {
    text-align: left;
    direction: ltr;
}
ul.features li {
    float: left;
    font-size: 12px;
}
.statistics-section .progess-info li {
    width: 100%;
}
.statistics-section .progess-info li span.dot.green,
.statistics-section .progess-info li span.dot {
    float: left;
    margin: 5px 5px 4px 0px;
}
.statistics-section .progess-info li p {
    float: right !important;
}
.steps {
    direction: ltr;
}
.steps li .sub h4 {
    font-size: 16px;
    white-space: break-spaces;
}
.steps li .sub p {
    font-size: 14px;
}
#about .right_sec .damas {
    float: left;
    margin-right: 5px;
}
#about .right_sec p {
    direction: ltr;
}
#about .left_sec .brands li.title {
    width: 200px;
    margin-left: -100px;
}
#budgetMenu{
    direction: ltr;
}
section.form form .budget .dropdown-toggle::after {
    left: auto;
    right: 6px;
}


@media (max-width: 1280px){

}

@media (max-width: 1024px){

}


@media (max-width: 812px){
    footer p{
        direction: ltr;
    }

    .section_payment .pay .progres .txt b {
        font-size: 13px;
        text-align: left;
        margin-top: 19px;
    }
    .section_payment .money .month-number {
        font-size: 17px;
        top: 5px;
    }
    .section_payment .pay .progres .txt {
        width: auto;
    }
    .int_content.turkish_citizenship_mob {
        padding: 0px 0px 0px 0px;
    }
    .section_payment .pay .progres .pro {
        margin-right: 5px;
    }
    .green_btn {
        padding: 6px 10px 4px 10px;
    }
    .top_sec {
        direction: rtl;
    }
    .payment_method_types,
    .project_name {
        float: none;
        display: inline-flex;
    }
    .left_sec {
        padding-right: 0px;
        padding-left: 0px;
    }
    .chart-filters .col-xs-12 {
        width: 50%;
    }
    .int_content.turkish_citizenship_mob .sub_title {
        padding: 0px 15px 0px 15px;
    }

}


@media (max-width: 480px){
    .project_icons li {
        float: left;
    }

}


