	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/10/2018 14:26
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}
.flaticon-placeholder:before { font-size: 45px }
.flaticon-apartment:before { font-size: 40px }
.flaticon-coin:before { font-size: 45px }
.flaticon-coin-of-dollar:before { font-size: 46px }
.flaticon-coin2:before { font-size: 29px }
.flaticon-room-key:before { font-size: 35px; }
.flaticon-room-key2:before { font-size: 23px; }
.flaticon-departures:before { font-size: 40px }
.flaticon-targeting:before { font-size: 46px }
.flaticon-call-center:before { font-size: 45px }
.flaticon-price:before { font-size: 46px; }
.flaticon-bed:before { font-size: 21px; }
.flaticon-bed2:before { font-size: 18px; }
.flaticon-bed3:before { font-size: 21px; }
.flaticon-money:before { font-size: 52px; }
.flaticon-size-square:before { font-size: 23px; }
.flaticon-rising:before { font-size: 52px; font-weight: 300}
.flaticon-scheme:before { font-size: 52px; font-weight: 300}
.flaticon-copy-files:before { font-size: 52px; font-weight: 300}
.flaticon-price:before { font-size: 52px; font-weight: 300}
.flaticon-like:before { font-size: 30px; font-weight: bold;}
.flaticon-gift:before { font-size: 30px; font-weight: bold;}
.flaticon-coin-of-dollar:before { font-size: 24px;}
.flaticon-like2:before { font-size: 30px; font-weight: bold;}
.flaticon-share:before { font-size: 30px; font-weight: bold; }
.flaticon-share2:before { font-size: 35px;  font-weight: bold;}
.flaticon-binoculars:before { font-size: 35px;}
.flaticon-bed:before { content: "\f100"; }
.flaticon-bed3:before { content: "\f100"; }
.flaticon-bed2:before { content: "\f100"; }
.flaticon-gift:before { content: "\f101"; }
.flaticon-share:before { content: "\f102"; }
.flaticon-share2:before { content: "\f102"; }
.flaticon-apartment:before { content: "\f103"; }
.flaticon-targeting:before { content: "\f104"; }
.flaticon-departures:before { content: "\f105"; }
.flaticon-room-key:before { content: "\f106"; }
.flaticon-room-key2:before { content: "\f106"; }
.flaticon-like:before { content: "\f107"; }
.flaticon-placeholder:before { content: "\f108"; }
.flaticon-size-square:before { content: "\f109"; }
.flaticon-copy-files:before { content: "\f10a"; }
.flaticon-coin:before { content: "\f10b"; }
.flaticon-coin2:before { content: "\f10b"; }
.flaticon-call-center:before { content: "\f10c"; }
.flaticon-binoculars:before { content: "\f10d"; }
.flaticon-price:before { content: "\f10e"; }
.flaticon-rising:before { content: "\f10f"; }
.flaticon-video:before { content: "\f110"; }
.flaticon-scheme:before { content: "\f111"; }
.flaticon-money:before { content: "\f112"; }
.flaticon-coin-of-dollar:before { content: "\f113"; }
/*.flaticon-app:before { content: "\f114"; }*/
span.wtsp .wtsp .fa-whatsapp{font-size: 18px;
margin: 0 -4px 0 0;}