body{
    margin:0;
    padding: 0;
    background-color: #E9EBEE;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}


/** fonts **/
/*@font-face {
    font-family: dinnextregular;
    src: url(../fonts/ar/DINNEXTARABICREGULAR.otf);
}
@font-face {
    font-family: dinnextmedium;
    src: url(../fonts/ar/DINNEXTARABICMEDIUM.otf);
}
@font-face {
    font-family: dinnextbold;
    src: url(../fonts/ar/DIN_NEXT_ARABIC_BOLD.otf);
}

@font-face {
    font-family: dinnextlight;
    src: url(../fonts/ar/DIN_NEXT_ARABIC_LIGHT.otf);
}
*/
/*
@font-face {
    font-family: DroidNaskhBold;
    src: url(../fonts/ar/DroidNaskh-Bold.ttf);
}
@font-face {
    font-family: DroidNaskhRegular;
    src: url(../fonts/ar/DroidNaskh-Regular.ttf);
}*/
/*
@font-face {
    font-family: MontserratBoldItalic;
    src: url(../fonts/en/Montserrat-BoldItalic.ttf);
}
@font-face {
    font-family: MontserratBold;
    src: url(../fonts/en/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/en/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: montserratMedium,montserratRegular;
    src: url(../fonts/en/Montserrat-Medium.ttf);
}
@font-face {
    font-family: montserratRegular;
    src: url(../fonts/en/Montserrat-Regular.ttf);
}*/
/*@font-face {
    font-family: MontserratLight;
    src: url(../fonts/en/Montserrat-Light.ttf);
}
*/
/** Disable Dragging Image **/
img {
    pointer-events: none
}



/*** Header Style **/

.header ul {
    list-style: none;
    margin: 0;
    padding: 0
}



/**** First NavBar Style ***/
.header {
    width: 100%;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}
.header .navbar1 {
    background-color: #132467 ;
    height: 37px;;
    width: 100%;
    text-align: center;
}

.header .navbar1 li {
    float: left;
}

.header .contain {
    float: left;
    margin-left: 26px;
    margin-top: 6.5px;
    /* direction: ltr; */
}
@media (max-width: 1250px) {
    .header .contain {
        margin-right: 19px;
    }
}


.header .contain div {
    float: right
}
.header .contain .language {
    width: 110px;
    font-size: 14px;
    /*    font-family: montserratRegular,serif;*/
    /* border-left: 1px solid #fff; */
    direction: ltr;
    unicode-bidi: embed;
    float: left;
}
.header .contain .language img {
    width:24px;
    height: 24px
}

.header .contain .language a {
    text-decoration:none;color:#fff;
}
.header .contain .language span {
    position:relative;top:2px;
}
.header .contain .language a:hover {
    text-decoration:underline;
}

.header  .devise {
    width: 104px;
    height: 24px;
    border-left: 1px solid #fff;
    /*font-family: montserratRegular,serif;*/
    position: relative;
}
.header  .devise i {
    float: left;
    margin: 0px;
    font-size: 10px;
    padding: 0px;
    text-align: center;
    position: absolute;
    right: 65px;
    top: -6px

}
.header .devise select, .exchange-currency{
    outline: none;
    color: #fff;
    position: absolute;
    right:10px;
    top: 4px;
    font-size: 12px;
    background: #132467;
    border: 0px;
}
.exchange-currency{
    position: relative;
    padding-bottom: 1px;
    top: -3px;
    right: 1px;
}
@media (max-width: 420px) {
    .header  .devise {
        width: 90px;
    }
    .header  .devise i {
        right: 54px
    }
    .header  .devise select {
        right: 0px
    }
    .header .contain .room {
        width: 80px !important
    }

    .header .contain .room i {
        right: 56px !important
    }
}


.header .contain .room {
    width: 100px;
    height: 24px;
    /*font-family: montserratRegular,serif;*/
    border-left: 1px solid #fff;
    position: relative
}
.header .contain .room i {
    position: absolute;
    top: -1px;
    right: 63px
}
.header .contain .room select {
    width: 50px;
    font-size: 14px;
    background: #132467;
    color: #fff;
    border: 0px;
    position: absolute;
    top: 2px;
    right: 11px;
    outline: none

}
.header .contain .room select option {
    text-align: center
}
.header .contain .whatsapp1 {
    width: 267px;
    height: 24px;
    cursor:pointer;
    border-left: 1px solid #fff;
    /*    background-color: cadetblue*/

}
.header .contain .whatsapp1 i {
    float: left;
    font-size: 26px;
    margin-left: 15px
}
.header .contain .whatsapp1 #num {
    /*    font-family: montserratMedium,montserratRegular;*/
    font-size: 14px;
    position: relative;
    left: -5px;
    top: 1px;
    direction: ltr;
    unicode-bidi: embed;
}
.header .contain .whatsapp1 #ar {
    /*    font-family: dinnextlight;*/
    font-size: 14px;
    float: right;
    margin-right: 17px;
    margin-top: -6px;
    color: rgba(255, 255, 255, 0.5)
}
.header .contain .whatsapp1 #en {
    /*    font-family: montserratMedium,montserratRegular;*/
    font-size: 8.5px;
    position: relative;
    left: -17px;
    top: -10px;
    color: rgba(255, 255, 255, 0.5)
}

.header .contain .whatsapp2 {
    /*max-width: 229px;*/
    height: 24px;
    cursor:pointer;
    border-left: 1px solid #fff;
    padding: 0 0 0 12px;
}
.header .contain .whatsapp2 i {
    float: left;
    font-size: 26px;
}
.header .contain .whatsapp2 #num {
    /*    font-family: montserratMedium,montserratRegular;*/
    font-size: 14px;
    position: relative;
    top: 1px;
    direction: ltr;
    unicode-bidi: embed;

    margin-right: 8px;
    margin-left: 5px;
}
.header .contain .whatsapp2 #ar {
    /*    font-family: montserratMedium,montserratRegular;*/
    font-size: 10px;
    float: right;
    margin-right: 15px;
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.5)
}
.header .contain .whatsapp2 #en {
    /*    font-family: montserratMedium,montserratRegular;*/
    font-size: 10px;
    float: right;
    margin-right: 25px;
    margin-top: -12px;
    clear:both;
    color: rgba(255, 255, 255, 0.5)
}





/*** Second NavBar Style ***/


.header .navbar2 {
    background-color: #264584;
    height: 56px;;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    transition: all 0.5s;
}
.header.transparency .navbar2 {
    background-color: transparent;
    transition: all 0.5s;
}

.header .navbar2 ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.header .navbar2 .contain {
    float: right;
    height: 35px;
    margin-right: 30px;
    /*    font-family: dinnextlight;*/
}
@media (max-width: 768px) {
    .header .navbar2 .contain {
        margin-right: 21px
    }
    #drop-menu .tel #num i.fa-phone{font-size:21px;margin:0 5px 0 6px}

    .header .drop-menu .top .search-lang {
        float: none!important;
        margin: 0!important;
        direction: ltr;
        text-align: center;
    }
    .header .drop-menu .top .search-lang #lan{border-left:none!important}
    .header .drop-menu .top .search-lang a i {
        margin-top: 6px;}
}

.header .navbar2 .contain .after-search {
    float: right;
    height: 35px;
    border-left: 1px solid #fff;
    display: none
}

.header .navbar2 .contain .after-search .drop-search i {
    font-size: 26px;
    margin: 5px 0 0 11px;
    cursor: pointer
}
.header .navbar2 .contain .after-search .dropdown-menu {
    border-radius: 5px;
    background-color: #264584;
    border: 2px solid #fff;
    padding: 0px;
    margin: 15px 0 0 0;
    position: relative;
}
.header .navbar2 .contain .after-search .dropdown-menu  button {
    position: absolute;
    top: 20px;
    left: 18px

}
.header .navbar2 .contain .after-search .dropdown-menu i {
    font-size: 26px;
    color: #fff;
    cursor: pointer
}
.header .navbar2 .contain .after-search .dropdown-menu input {
    width: 220px;
    height: 36px;
    border: 0px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #132467;
    padding: 0 10px 0 40px;
    direction: rtl;
    margin: 15px;
    font-family: dinnext
}



.header .navbar2 .contain .whatsapp {
    float:right;
    height: 35px;
    padding-left: 15px;
    border-left: 1px solid #fff;
    display: none
}
.header .navbar2 .contain .whatsapp a {
    color: #fff
}
.header .navbar2 .contain .whatsapp i {
    font-size: 33px;
    margin-top: 1.5px;
    padding: 0px
}
.header .navbar2 .contain .home-search {
    float: right;
    width: 58px;
    height: 35px;
    border-left: 1px solid #fff
}
.header .navbar2 .contain .home-search img {
    width: 39px;
    position: relative;
    top: -1px
}
.header .navbar2 .contain .envelope {
    float: right;
    height: 35px;
    padding: 0 15px;
    display: none
}
.header .navbar2 .contain .envelope a {
    color: #fff
}
.header .navbar2 .contain .envelope i {
    font-size: 32px;
    margin-top: 2.25px;
}
.header .navbar2 .contain .home {
    float: right;
    width: 58px;
    text-align: center
}
.header .navbar2 .contain .home a {
    color: #fff
}
.header .navbar2 .contain .home i {
    font-size: 38px;
    margin: 0px
}

.header .parent_menu a {
    display: block;
    text-align: right;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;
    padding: 8px
}

.header .parent_menu a:hover {
    background-color: #fff;
    color: #264584
}

.header .navbar2 .contain{float:right}
.header .navbar2 .blk_search{margin-right:0}
.header .navbar2 .naviga{float:right;
                         font-family: dinnextlight;}
.header .navbar2 .search_form button{
    background-color: transparent;border: 0px;float: right;
}
.parent_menu{float:right;position: relative;}
/*.header .navbar2 .contain li .drop span{padding: 0 14px;}*/
/*.header .navbar2 .contain .collection {
 float: right;
 position: relative;
Width: 197px;
}*/
.header .navbar2  .drop {
    height: 35px;
    font-size: 17px;
    padding: 0 14px;
    margin: 0px;
    cursor: pointer;
    border-left: 1px solid #fff;
    transition: all 0.2s ease-in-out
}
.header .navbar2 .naviga .parent_menu:last-child  .drop{
    border-left:0 none;
}
.header .navbar2 .drop:hover {
    color: #264584;
    background-color: #fff
}
.header .navbar2  .drop span {
    position: relative;
    top: 2px;
    float: right;
}


/*.header .navbar2 .contain .blog-estate {
    float: right;
    width: 140px
}
.header .navbar2 .contain .damas-estate {
    float: right;
    width: 140px
}*/
.header .navbar2  .search {
    float: right;
    margin-top: 2px;
    margin-right: 40px
}




.header .navbar2 .parent_menu .dropdown-menu {
    background-color: #264584;
    border-radius: 0px;
    padding: 0px;
    margin: 37px 0 0 0;
    position: absolute;
    top: 10px;
    min-width: 187px
}

.header .navbar2 .naviga .fa-angle-down {
    position: relative;
    top: 4px;
    right: 5px
}




.header .navbar2 .contain .damas-estate .drop {
    border:0px
}
.header .navbar2 .contain .search input {
    width: 220px;
    height: 30px;
    border: 0px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 0 10px;
    direction: rtl
}
.header .navbar2 .contain .search input::placeholder {
    color: #fff
}
.header .navbar2 .contain .search input:focus {
    outline: none
}

.header .navbar2 .contain .search i {
    color: #fff;
    font-size: 22px;
    cursor: pointer
}

.header .navbar2 .show-menu {
    float:left;
    margin-left: 15px;
    cursor: pointer;
    display: none;
    margin-top: 6px
}

.header .navbar2 .show-menu #line1 {
    background-color: #fff;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    margin-top: 7px;
}
.header .navbar2 .show-menu #line2 {
    background-color: #fff;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    margin-top: 7px
}
.header .navbar2 .show-menu #line3 {
    background-color: #fff;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    margin-top: 7px
}



/** Drop Menu For Mobile **/
.header .navbar2 .drop-menu {
    color: #264584;
    background-color: #ffffff;
    display: block!important;
    padding: 35px 0px 0 10px;
    overflow: auto;
    width: 500px;
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    position: fixed;
    top: 93px;
    left: -520px;
    transition: 1s;
    border:none !important;
    margin: 0px !important;
}
.header .navbar2 .drop-menu.open{
    left: 0px;
    transition: 1s;
}





.header .drop-menu .top .tel {
    float: left;
    border-bottom: 1px solid #fff;
    width: 300px;
}

/*.header .drop-menu .top .whatsapp1 {
    width: 300px
}*/
.header .drop-menu .top .whatsapp1 #num {
    font-size: 19px;
    /*    font-family: montserratMedium,montserratRegular;*/
    position: relative;
    float: left;
    margin: 4px;direction:ltr
}
.header .drop-menu .top .whatsapp1 #ar {
    font-size: 20px;
    font-family: dinnextlight;
    color: rgba(255,255,255,0.5);
    position: relative;
    top: -10px;
    left:10px
}
.header .drop-menu .top .whatsapp1 #en {
    float: right;
    font-size: 12px;
    /*    font-family: montserratMedium,montserratRegular;*/
    color: rgba(255,255,255,0.5);
    position: relative;
    top: -13px

}
.header .drop-menu .top .whatsapp1 i {
    font-size: 26px;
    float: left;
    margin-top: 3.5px
}

.header .drop-menu .top .whatsapp2 {
    padding-bottom:10px;
}
.header .drop-menu .top .whatsapp2 #num {
    font-size: 18px;
    /*    font-family: montserratMedium,montserratRegular;*/
    position: relative;
    float: left;
    direction:ltr;
    margin: 4px 4px 5px 4px
}

.header .drop-menu .top .whatsapp2 #en {
    font-size: 12px;
    float: right;
    /*    font-family: montserratMedium,montserratRegular;*/
    color: rgba(255,255,255,0.5);
    position: relative;
    top: -3px

}
.header .drop-menu .top .whatsapp2 i {
    font-size: 26px;
    float: left;
    margin-top: 3.5px
}

.header .drop-menu .top .search-lang {
    float: left;
    margin: 5px 0px 0px 20px ;
    direction: ltr
}
.header .drop-menu .top .search-lang a i {
    font-size: 22px;
    margin-right: 5px;
    cursor: pointer
}
.header .drop-menu .top .search-lang a {
    color: #fff;
    cursor: pointer;
}
.header .drop-menu .top .search-lang #lan {
    font-size: 17px;
    padding-left: 7px;
    height: 25px;
    border-left: 1px solid #fff;
    /*    font-family: MontserratRegular,serif;*/
}
.header .drop-menu .bottom {
    margin-right: 10px;
    font-size: 20px;
    text-align: right;
    font-family: dinnextregular;
}

.header .drop-menu .bottom ul {

}

.header .drop-menu .bottom span {
    display: inline-block;
    border-bottom: 1px solid #fff;
    direction: ltr
}

.header .drop-menu .bottom span i {
    margin: 2px 10px 0 0
}

/*.header .drop-menu .bottom li li {
    border-bottom: 1px solid #fff;
    
}*/

.header .drop-menu .bottom li li a {
    transition: all .2s ease-in-out;
    padding-right: 15px
}

.header .drop-menu .bottom li li a:hover {
    background-color: #fff;
    color: #264584
}

.header .drop-menu .bottom a {
    display: block;
    color: #fff;
    padding: 5px 0px 9px 0;
    text-decoration: none
}

.header .drop-menu .bottom ul a {
    font-size: 13px;
}
/************/


.header .logo {
    /* position: absolute; */
    /* left: 60px; */
    /* top: 0px; */
    color: rgba(255,255,255,0.6);
    /*    font-family: montserratRegular,serif;*/
    font-size: 13px;
    float: left;
    position: relative;
    margin-left: 59px;
    margin-top: -2px;
}
.header .logo .text {
    /* position: relative; */
    /* top: 48px; */
    /* left: 150px; */
    /*	font-style: italic;*/
    float: left;
    text-align: left;
    padding-left: 18px;
    padding-top: 2px;
}
.header .logo #last {
    position: relative;
    top: -5px
}
.header .logo img {
    width: 132px;
    /* position: absolute; */
    /* top: 44px; */
    /* left:0px; */
    /* z-index: 2; */
}
.header .logo .image-logo {
    position: relative;
    float: left;
}
/*.header .logo .background-logo {
    width: 132px;
    height: 93px;
    background-image: linear-gradient(to bottom, black 35%, rgba(255,255,255,0.1));
    opacity: 0.3;
    transform-origin: top;
    transform: skew(10deg);
    position: absolute;
    top: 0px;
    left: 0px;
        cursor:pointer
}*/



/** Media Query **/

@media (max-width: 1180px) {
    .header .navbar2 .contain .search input  {
        display: none
    }
    .header .logo img {
        top: 42px;
    }
}
@media (max-width: 1070px) {
    .header .contain .whatsapp1 #ar,
    .header .contain .whatsapp2 #ar {
        display: none
    }
    .header .contain .whatsapp1 #en,
    .header .contain .whatsapp2 #en {
        display: none
    }
    .header .contain .whatsapp2 i {
        margin-right: 15px
    }
    .header .navbar2 .contain .search {
        display: none
    }
    .header .contain .whatsapp1 {
        width: auto !important;
    }
    .header .contain .whatsapp1 #num {
        left: 0px;
        padding: 0px 10px;
    }
    .header .contain .whatsapp2 #num {
        left: -12px;
    }
}
@media (max-width: 980px) {

    .header .navbar2 .show-menu {
        display: block
    }
    .header .navbar2 .contain .parent_menu  {
        display: none
    }
    .header .navbar2 .naviga  {
        display: none
    }

}


@media (max-width: 768px) {
    .header .contain .whatsapp1  {
        display: none
    }
    .header .contain .whatsapp2 {
        display: none
    }
    .header .contain .room {
        border:0px
    }
    .header .contain  {
        margin-right: 5px;
        float: right;
    }
    .header .navbar1 li{float:right}
    .header .contain .language  {
        display: none
    }
    .header .navbar2 .contain .search  {
        display: none
    }
    .header .navbar2 .contain .home  {
        display: none
    }
    .header .navbar2 .contain .whatsapp  {
        display: block
    }
    .header .navbar2 .contain .envelope  {
        display: block
    }
    .header .navbar2 .contain .after-search {
        display: none
    }

}
@media (max-width: 515px) {
    .header .navbar1 .devise select,.exchange-currency {
        padding: 3px 18px 7px 0px;
        right: 0;
        -webkit-appearance: none;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23ffffff'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
        background-size: 12px;
        background-position: 29px center;
        background-color: #132467;
        direction: ltr;
        background-repeat: no-repeat;
    }
    .exchange-currency {
        padding: 2px 20px 3px 3px;
        right: 0;
        background-position: 29px 7px;

        top: 0px;
    }
    .header .contain .room select {
        right: 3px !important;
        -webkit-appearance: none;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23ffffff'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
        background-size: 12px;
        background-position: 31px 6px;
        background-color: #132467;
        top: 3px;
    }
} 

@media (max-width: 450px) {

    .header .navbar2 .contain .whatsapp {
        padding-left: 11px
    }
    .header .navbar2 .contain .envelope {
        padding: 0 12px
    }
}
@media (max-width: 420px) {
    .header .contain {
        margin-right: 10px
    }
    .header .navbar2 .contain {
        margin-right: 17px
    }
    .header .navbar2 .contain .whatsapp {
        height: 26px;
        margin-top: 2px !important;
        padding-left: 8px
    }
    .header .navbar2 .contain .whatsapp i {
        font-size: 26px;
        top: -2px;
    }
    .header .navbar2 .contain .home-search {
        height: 26px;
        width: 52px;
        margin-top: 3px
    }
    .header .navbar2 .contain .home-search img {
        width: 30px;

    }
    .header .navbar2 .contain .envelope {
        padding: 0 13px
    }
    .header .navbar2 .contain .envelope i {
        font-size: 22px;
        margin-top: 4.5px
    }
    .header .navbar2 .show-menu {
        margin-top: 8px;
        margin-left: 10px
    }
    .header .navbar2 .show-menu #line1 {
        width: 25px;
        height: 2px
    }
    .header .navbar2 .show-menu #line2 {
        width: 25px;
        height: 2px;
        margin-top: 6px
    }
    .header .navbar2 .show-menu #line3 {
        width: 25px;
        height: 2px;
        margin-top: 6px
    }
    /*.header .logo {
        position: absolute;
        left: 46px
    }*/


    .header .drop-menu .top .whatsapp1 #num {
        direction:ltr;
        font-size: 13px;
        margin-top: 6px
    }
    .header .drop-menu .top .whatsapp2 #num {
        direction:ltr;
        font-size: 13px;
        margin-top: 6px
    }
    .header .drop-menu .top .tel {
        width: 290px
    }
    /*.header .drop-menu .top .whatsapp1 #ar {
      left: -15px
   }
   .header .drop-menu .top .whatsapp1 #en {
       left: -45px
   }*/
    .header .drop-menu .top .whatsapp2 #en {
        top: -11px
    }
}

.search_form{

}

.project-card .contain .details .button {
    width: 100%;
    height: 35px;
    font-family: dinnextmedium;
    padding-bottom: 20px;
    color: #fff;
    background-color: #1F3A73;
    border: 0px;
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

h3 a:hover {
    color: inherit;
    text-decoration: initial;
}
h3 a{
    color: inherit;
    text-decoration: initial;
}
div.title a{color: inherit;
            text-decoration: initial;
}


/*
.news .subnews1 .item .title{overflow:hidden;height:84px}
.news .subnews2 .items .title{height:157px;overflow:hidden}
.news .news-slider .post2 .subnews .two .title{overflow:hidden;height:151px;}
*/








/** Right Form **/
.right-form-content {
    width: 277px;
    height: auto;
    position: fixed;
    top: 188px;
    left: -277px;
    z-index: 999999999;
    border-radius: 0px;
    text-align: center;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom right, rgba(6, 55, 96,0.9) 0%, rgba(17, 75, 115,0.9) 40%, rgba(27, 95, 137,0.8) 70%, rgba(38, 115, 157,0.7) 100%);
}
.right-form-content img.customers-service-icon{
    width: 100px;
    margin: auto;
    float: none;
    margin-top: 15px;
}
.right-form-content:after{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9;
    clip-path: polygon(0px 100%,100% 0%,100% 0%,0% 0%,0 100%);
    background-image: linear-gradient(to left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.2) 40%, rgba(255,255,255,0.1) 70%, rgba(255,255,255,0) 100%);
}
.right-form {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    position: relative;
}
.right-form .contact {
    width: 200px;
    height: 37px;
    background-color: rgba(199, 219, 242, 0.9);;
    position: absolute;
    top: 61px;
    right: 0px;
    border-radius: 0 0px 17px 17px;
    transform-origin: top right;
    -webkit-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
    cursor: pointer;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.5);
    z-index: -1;
    background-image: linear-gradient(to bottom , rgba(6, 55, 96,0.9) 0%, rgba(17, 75, 115,0.9) 40%, rgba(27, 95, 137,0.8) 70%, rgba(38, 115, 157,0.7) 100%);

}
.right-form .contact .arrow i {
    float: right;
    font-size: 26px;
    color: #ffffff;
    margin: 2px 10px 0 5px
}
.right-form .contact span {
    /*    font-family: dinnextregular;*/
    font-size: 19px;
    color: #ffffff;
    float: right;
    padding: 4px;
}

.right-form .contact .whatsapp {
    float: right;
    margin: 4px 10px 0 10px;
    transform: rotateZ(90deg)
}

.contact .whatsapp .whatsapp-icon {
    background-color: #00B04C;
    color: #00B04C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 3px 6px 0 4.5px;
    position: relative;
    right: -8px;
    top: 8px;
}
.contact .whatsapp i:first-child{
    font-size: 35px;
    color: #fff;
}
.contact .whatsapp .whatsapp-icon:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(0, 176, 76, 1) ;
    position: absolute;
    top:0px;
    left: 0px;
    animation-name: test;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}
.contact .whatsapp .whatsapp-icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(0, 176, 76, 1) ;
    display: inline-block;
    position: absolute;
    top:0px;
    left: 0px;
    animation-name: test;
    animation-duration: 1.5s;
    animation-delay: .65s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

@keyframes test {
    from {
        transform: scale(1);
        border: 0.5px solid rgba(0; 176, 76, 1) ;
    }
    to {
        transform: scale(2);
        border: 0.5px solid rgba(0, 176, 76, 0) ;
    }
}

.right-form {
    padding: 32px 22px;
}
.right-form form {
    width: 100%;
    /*    font-family: DroidNaskhRegular;*/
    font-size: 11px;

}
.right-form .name {
    float: right;
    width: 50%;
    padding: 0 0 0 7px;
    margin-bottom: 9px
}
input, button, textarea {
    outline: none
}
.right-form input::placeholder, .right-form textarea::placeholder {
    color: #fff
}
.right-form textarea,
.right-form select,
.right-form input {
    width: 100%;
    height: 38px;
    float: right;
    font-size: 12px;
    border: 0px;
    color: #1F3A73;
    direction: rtl;
    background-color: #E9EBEE;
    border-radius: 0 25px 25px 40px;
    padding: 0 10px 0 10px;
    margin: 0px 0px 10px 0px;
    position: relative;
    z-index: 999;
}
.right-form textarea::-webkit-input-placeholder , /* Chrome/Opera/Safari */
.right-form input::-webkit-input-placeholder {
    color: #1F3A73;
}
.right-form textarea::-moz-placeholder , /* Firefox 19+ */
.right-form input::-moz-placeholder {
    color: #1F3A73;
}
.right-form textarea:-ms-input-placeholder , /* IE 10+ */
.right-form input:-ms-input-placeholder {
    color: #1F3A73;
}
.right-form textarea:-moz-placeholder , /* Firefox 18- */
.right-form input:-moz-placeholder {
    color: #1F3A73;
}
.right-form .fame {
    float: right;
    width: 50%
}

.right-form .textarea {
    width: 100%;
    margin: 10px 0 0 0
}
.right-form textarea {
    min-height: 50px;
}

.right-form .tel {
    width: 100%
}
.right-form .tel input {
    /*    font-family: MontserratRegular,serif;*/
    padding: 0 0 0 45px;
    direction: ltr
}
.right-form select{
    /*    font-family: DroidNaskhRegular, MontserratRegular,serif*/
}
.right-form option {
    direction: ltr
}
.right-form .time {
    width: 47%;
    float: right;
    padding: 0 0 0 7px
}
.right-form select {
    direction: rtl;
    border-radius: 0 25px 25px 25px;
}
.right-form .budget {
    width: 50%;
    float: right;
    padding: 0 0 0 35px
}

.right-form button {
    position: absolute;
    bottom: 45px;
    left:16px;
    cursor: pointer;
    outline: none;
    transition: all .1s ease-in-out
}

.right-form button:hover {
    transform: scale(1.1)
}

.right-form button img{
    width: 38px
}
.intl-tel-input .flag-dropdown {
    z-index: 9999;
}
.project-card .share i.fa-heart, .project-card .share i.fa-heart-o{
    font-size: 26px;
    color: #fff;
    margin: 4px 0 0 13px;}

.pd0{padding:0!important}
button.btnblk{    width: 100%;
                  background-color: #0c6ead;
                  color: #fff;
                  font-size: 16px;
                  text-align: center;
                  padding: 10px 10px;
                  margin: 6px 0 0 0;
                  border: 0 none;
}

@media (min-width: 979px) {
    .header .navbar2 .naviga{height:50px}
    .header .navbar2 .naviga .parent_menu {height: 50px;}
    .naviga li.parent_menu:hover > ul.dropdown-menu {
        display: block
    }
}


.language .dropdown{
    padding: 0;
    background-color: transparent;
    outline: none;
    padding-left: 7px;
}
.language .dropdown button:focus {outline:0;box-shadow: none;}
.language .dropdown button{padding: 0;
                           background-color: #132467;}
.language .dropdown-menu{
    background-color: #132467;
    min-width: 8rem;
}
.language .dropdown-menu a{display:block;padding: 3px 10px;}
.language .dropdown-toggle:after {
    color: #fff;
    margin-left: 0.155em;
    margin-right: 0.585em;
    vertical-align: 0.01em;
    content: "";
    border-top: 0.42em solid;
    border-right: 0.17em solid transparent;
    border-bottom: 0;
    border-left: 0.17em solid transparent;
}



/****-- Start New Design Menu Mob --****/
ul.menu {
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 20px auto;
    clear: both;
    display: table;
    margin-bottom: 100px;
}
ul.menu .list {
    font-size: 14px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    vertical-align: sub;
    background: #ffffff;
    clear: both;
    margin-bottom: 5px;
}
/*ul.menu .list:after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 17px;
    top: 17px;
    padding: 0px 5px;
    color: #fff;
}*/
ul.menu .list:before {
    content: "\f067";
    font-family: FontAwesome;
    position: absolute;
    left: 17px;
    top: 10px;
    padding: 0px 5px;
    color: #1F3A73;
}
ul.menu .list a {
    text-decoration: none;
    color: #264584;
    padding: 8px 10px 8px 45px;
    display: block;
    height: 100%;
    box-sizing: border-box;
    text-align: right;
    border: 1px solid #1F3A73;
    border-radius: 0px 0px 0px 15px;
}
ul.menu .list.active a {
    background-color: #264584;
    transition: 300ms all;
    color: #ffffff;
}
ul.menu .list .items {
    height: 0px;
    overflow: hidden;
}
ul.menu .list .items a {
    padding: 8px 10px 8px 45px;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #cdcdcd;
    background-color: transparent;
    color: #264584;
}
ul.menu .list .items a:hover {
    background-color: #3f5d79;
    color: #fff;
    transition: 300ms all;
}
ul.menu .list:last-child {
    border-bottom: none;
}
/*ul.menu .active:after {
    content: "\f106";
    font-family: FontAwesome;
    position: absolute;
    right: 17px;
    top: 17px;
    padding: 0px 5px;
    color: #fff;
}*/
ul.menu .active:before {
    content: "\f068";
    font-family: FontAwesome;
    position: absolute;
    left: 17px;
    top: 10px;
    padding: 0px 5px;
    color: #ffffff;
}
ul.menu .active > .items {
    display: block;
    background: #f5f5f5;
    padding: 0px;
    height: auto;
    color: #fff;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 200ms;
    clear: both;
    float: left;
    width: 100%;
}
ul.menu .active > .items li {
    padding: 0px;
    list-style: none;
}
ul.menu .active > .items li:last-child {
    border-color: transparent;
    padding-bottom: 0px;
}
ul.menu .active > .items .active > .items {
    background-color: #2f4b67;
}
ul.menu .active > a {
    color: #46efa4;
    text-transform: uppercase;
    font-weight: bold;
}
ul.menu .active .list {
    background: #697d92;
}
ul.menu .active .list a {
    padding: 17px 0px 17px 45px;
}

.ampstart-social-follow {
    padding: 0;
    width: 100%;
    float: left;
    text-align: center;
    display: table;
    position: relative;
    top: auto;
    left: 0;
}
.ampstart-social-follow li {
    float: none;
    display: -webkit-inline-box;
    margin: 10px;
}
.ampstart-social-follow li a i:before,
.ampstart-social-follow li a i,
.ampstart-social-follow li a {
    font-size: 18px;
    color: #264584;
}

.langList{
    padding: 0;
    width: 100%;
    float: left;
    text-align: center;
    display: table;
    position: relative;
    top: auto;
    left: 0;
    margin-top: 40px !important;
}
.langList li{
    float: none;
    display: -webkit-inline-box;
    margin: 10px 3px;
    width: 100px;
}
.langList li:before{
    display: none;
}
.langList li a{
    border: 1px solid #264584;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    width: 100%;
    display: -webkit-box;
    color: #264584; 
}
.langList li a img{
    width: 22px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}
.langList li.active a{
    background-color: #264584;
    color: #ffffff !important;
}
.langList li:nth-child(1) a{
    font-family: '29LTBukra-Regular' !important;
}
.langList li:nth-child(2) a{
    font-family: 'Montserrat', sans-serif !important;
}
.drop-menu .top ul{
    float: left;
    width: 100%;
    padding: 0px;
    margin-bottom: 15px;
}
.drop-menu .top ul li{
    float: left;
    width: 100%;
    list-style: none;
    margin-bottom: 10px;
}
.drop-menu .top ul li a{
    float: left;
    width: 100%;
    color: #264584;
}
.drop-menu .top ul li a i{
    float: left;
    font-size: 20px;
    margin-right: 5px;
}
.drop-menu .top ul li a p{
    float: left;
    margin: 0px;
    direction: ltr;
    font-size: 15px;
}
.drop-menu .top ul li a span{
    float: left;
    font-size: 11px;
    color: #555555;
    margin: 3px 0px 0px 5px;
}

/****-- End New Design Menu Mob --****/




@media (max-width: 767px) and (min-width: 481px) {
    .header .navbar2 .drop-menu {
        padding: 25px 10px 15px 10px;
        width: 300px;
        top: 82px;
        height: auto;
        min-height: calc(100% - 82px);
        max-height: calc(100% - 82px);
    }
    .ampstart-social-follow {
        position: relative;
        bottom: auto;
        left: 0;
    }
    .langList {
        position: relative;
        bottom: auto;
        left: 0;
    }
}
@media (max-width: 480px) and (min-width: 320px) {
    .header .navbar2 .drop-menu {
        padding: 25px 10px 15px 10px;
        width: 280px;
        top: 79px;
        min-height: calc(100% - 79px);
        max-height: calc(100% - 79px);
    }
}